@media screen and (max-width: 1000px) {



    /* this class for give styles to hr tag in deshboard_class  */
    .deshboard_navigation_slides hr{
        margin: 1.4vw 0vw;
        background-color: #cccccc;
        border: none;
        height: 1px;
    }
    .deshboard hr{ display: none; }


    /* this class gives grid to inside desh board */
    .deshboard{
        min-height: 82vh;
        margin-top: 10vw;
        font-family: sans-serif ;
    }


    /* this class is defined for heading part of the all slides */
    .heading{
        display: none;
        padding: 1vw 1.5vw 0vw 1vw;
    }

    
    /* this is for inside dives of deshboard_navigation class  */
    .deshboard_nevigations{border-bottom: 1px solid #d8d8d8;
        white-space: nowrap;
        overflow: scroll ;
    }
    ::-webkit-scrollbar {
        display: none;
      }
    .deshboard_nevigations a{text-decoration: none;}
    .deshboard_nevigations .card{
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
        margin: 3vw 2vw 1.5vw 2vw;
        font-size: 3vw;
        padding: .5vw .2vw;
        color: #555555;


    }



    /* To group all slides  */
    .deshboard_navigation_slides{
        padding: 4vw 4vw 6vw 4vw;
        height: auto;
    }

    .deshboard_nevigations .card_active{border-bottom: 4px solid #04AA6D;}


    /* To give styles for all Slides  */
    .Slides {
        display: none;
    }

    .null{
        font-size: 3vw;
    }


    /* this class for profile slide  */


    .porfile{
        display: none;
    }

    .profile .profile_lables{
        font-size: 4.5vw;
        margin: 5vw 5vw 1vw 5vw ;
    }
    
    .profile .form-name,
    .profile .form-email{
        font-size: 4.8vw;
        margin: 1vw 5vw 2.5vw 5vw ;
        padding: 1.4vw 2vw;
    }
    .profile .form-inline{
        display: inline;
        font-size: 6vw;

    }
    
    .profile .mobile-box{
        margin: 4vw 1vw;
    }

    .profile .form-number{
        color: #555555;
    }

    .profile #saveprofile {
        position: relative;
        left: 33%;
        top: 5vw;
        border-radius: 3px;
        background-color: #04AA6D;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 4vw;
        cursor: pointer;
    }    
}