@media screen and (min-width:1000px) {
    
    *{
        margin: 0;
        padding: 0;
    }
    
    header{font-family:  'Quicksand', 'Circular' ,sans-serif, Arial, Helvetica; }

    
    /* navbar styles  */
    .nav{
        padding:.3vw 0vw .6vw 0vw;
        background: black;
    }
    
    /* css for wesite logo */
    #logo{
        transition: all .4s ease-in-out ;
        font-size: 1.1vw;
        color: white;
        float: left;
        text-decoration: none;
        margin: 0vw 3vw;
}
#logo a{
    color: white;
    text-decoration: none;
}

/* for center the links in navigation bar  */
/* .nav_ele{
    text-decoration: none;
    color: white;
    padding:0vw 1.5vw;
    font-size:1.5vw;
} */
.nav_ele>button{
    position: relative;
    left: 60vw;
    top: .5vw;
    font-size: 1vw;
    border-radius: 3px;
    padding: 0.4vw 1vw;
    margin: none;
    color: dodgerblue;
    margin: auto;
}

/* hover property for navbar tags */
.nav_ele>button:hover{
    color:#8a2be2;
}
/* upper header part end hare  */


/* manu bar start hare */

/* Dropup content (Hidden by Default) */

.menulist0 {
    width: 18vw;
    padding: 1vw 0vw;
    border-radius: 20px;
    display: none;
    position: fixed;
    top: 3vw;
    right: 3.6%;
    background-color: white ;
    min-width: 11vw;
    z-index: 5;
    box-shadow: 1px 1px 1px #c7c7c7;
}

.userinfo{
    padding: 1vw 2vw ;
}
#username{
    font-size: 1.5vw; 
    text-transform: capitalize; 
    font-weight: bold; 
    color: #1f1f1f;
}

.editprofile{
    margin-top: .4vw;
    font-size: .8vw;
}

.editprofile:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Links inside the dropup */
.submenulist{
    padding: 1vw 2vw ;
    font-size: 1.1vw;
    text-decoration: none;
}
.menulist a{
    text-decoration: none;
    color: black;
}

.menulist hr{
    border: none; 
    height: 1px; 
    background-color: #fafafa; 
}

#submenulist0{
    display: none;
}

/* Change color of dropup links on hover */
.submenulist:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
.submenulist:active{background-color: #dbdbdb; }

.show{
    display: block;
}
/* menu bar end hare  */


/* css for search bar  */


.search{
    margin: auto;
    border-radius: 100px;
    background-color: #fefefe;
    display: flex;
    width: fit-content;
    box-shadow:1px 1px 5px 0px rgb(0 0 0 / 30%);

}

.search hr{ border:none; background-color: #ddd; width: .5px; margin: 10px 3px;}

.property_for,
.search-bar,
.property_type,
.search_button{
    font-size: 14px;
    margin: auto;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 1vw;
    background-color: transparent;
}

.property_for:hover,
.search-bar:hover,
.property_type:hover,
.search_button:hover{background-color: white; box-shadow: 0px 0px 5px #ddd;}

.search-bar{
    padding:1vw 2vw;
}
.search_button:hover{ background-color: dodgerblue;}
.search_button{
    cursor: pointer;
    padding: 1.2vw 2.5vw;
    color: white;
    background-color:dodgerblue;
}

.lines{
    color: white;
    font-size: 3.5vw;
    margin:14%;
    text-align: center;
}



/* this class use for after scrolling the window/ */
.sticky{
    padding: .35% 0%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    transition:  .5s;
    box-shadow:0px 1px 5px #a9a9a9;
    
}

/* for apperring logo after scrolling */
.logo2 h1{
    z-index: 1;
    color: red;
    position: fixed;
    top: .3vw;
    left: 3vw;
    transition: 1s;
}
/* to change the size of search bar after scrolling */
.searchbar2{
    border-radius: 100px;
    background-color: #fefefe;
    display: flex;
    width: fit-content;
}
/* to fix menu position after scrolling */
.usericon2{
    z-index: 1;
    position: fixed;
      top: .2vw;
      right: 0%;
    }
    
    
    
    
    /* this style class for front image that at the starting */
    .front {
        margin: 1vw 0vw 1.2vw;
        padding: 5vw;
        width: auto;
        height: 33.8vw;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.2vw;
        background-image: url(../media/front.jpg);
        background-position-y: center;
    }
    
    
    

    
    /* postproperty page  */
    
    .propertyinfo{
        width: 80vw;
        height: auto;
        
    }
    
    /* postproprty page end hare */
    
    
    /* header part end hare */


    input {
        writing-mode: horizontal-tb !important;
        font-style: ;
        font-variant-ligatures: ;
        font-variant-caps: ;
        font-variant-numeric: ;
        font-variant-east-asian: ;
        font-weight: ;
        font-stretch: ;
        font-size: ;
        font-family: ;
        text-rendering: auto;
        color: -internal-light-dark(blue);
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        -webkit-rtl-ordering: logical;
        cursor: text;
        background-color: -internal-light-dark(rgb(255, 255, 255), white);
        margin: 0em;
        padding: 1px 2px;
        border-width: 1px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
        outline: 1px blue;
    }
    
    
}