@media screen and (max-width: 1000px){ 
    
    #search{display: block;}
    .front{
        background:url('/media/front.jpg')  no-repeat center;
        background-size: 100%;
          text-align: center;
          width:auto;
          height: 300px;
          width: 100%;

      }

/* main part start hare */
main{
    margin:0% ;
    padding:3vw 0vw 3vw 3vw;
    background-color: rgb(245, 245, 245);
}
/* class for large font size */
p.large-font{
    font-size: 6vw;
    font-weight: bolder;
    margin-left: 2vw;
}

/* property-categaries classes */
.property-categaries{padding:.9vw;}
.property-categaries a{
    text-decoration: none;
}
.property-categaries h1{    
    color:white;
    padding: 1.5vw 2vw;
    font-size:4vw ;
}

/* categaroes list on home page  */

/* homes  */
.home{
    margin:0vw;
    width: 92vw;
    height:50vw;
    background-image:url('CSSmedia/home.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vw;
    display: block;
}

/* css for all categary box excludes home  */
.categary-box{
    margin: 3.5vw 2vw 0vw 0vw;
    width: 44.45vw;
    height:65vw;
    background-image: url('CSSmedia/shop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vw;
    display: inline-block;
    border: none;
}


}