@media screen and (min-width: 1000px) {
  
  .search-input input{
    width: 300px;
    outline: none;
  border: none;
  border-radius: 100px;
  background-color: #fff;
}

.search-input.select input{
  text-align: start;
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.select .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  text-align: start;
  background-color: #fff;
  list-style: none;
  padding: 14px 20px;
  display: none;
  cursor: pointer;
  border-radius: 3px;
}


.search-input.select .autocom-box li{
  cursor: pointer;
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.autocom-box{
  margin-top: 8px;
  min-width: 300px;
  background-color: #fff;
  position: fixed;
  box-shadow: 0px 0px 2px 1px rgba(0, 32, 71, 0.12);
  border-radius: 10px;
  
}
}



/* styles for small devices */

@media screen and (max-width: 1000px) {

      /* css for search bar  */
    .search>select,
    .search>hr{display: none;}

    #search{
      transition: all .3s ease-in-out ;
      position: fixed;
      top: 10vw;
    }
    .search{
      margin: auto;
      background-color: #fefefe;
      display: flex;
      width: fit-content;
      box-shadow: 0px 0px 5px #ddd;
  }
  
  .search hr{ border:none; background-color: #ddd; width: .5px; margin: 10px 3px;}
  
  .property_for,
  .search-bar,
  .property_type,
  .search_button{
      margin: auto;
      outline: none;
      border: none;
      padding: 1vw;
      background-color: transparent;
  }
  
  .location:active,
  .search-bar:active,
  .property_for:active,
  .search_button:active{border: none;}
  
  .property_for:hover,
  .search-bar:hover,
  .property_type:hover,
  .search_button:hover{background-color: white; box-shadow: 0px 0px 5px #ddd;}
  
  .search-bar{
      padding:3vw 6vw 2.5vw ;
  }
  .search_button:hover{ background-color: dodgerblue;}
  .search_button{
      padding: 2.4vw 4.5vw;
      color: white;
      background-color:dodgerblue;
  }
  
  .search-input input{
    width: 85vw;
    outline: none;
  border: none;
  background-color: #fff;
}

.search-input.select input{
  text-align: start;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.select .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  font-size: 3.5vw;
  text-align: start;
  background-color: #fff;
  list-style: none;
  padding: 1vw 2vw;
  display: none;
  cursor: pointer;
  border-radius: 3px;
}


.search-input.select .autocom-box li{
  cursor: pointer;
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.autocom-box{
  margin-top: 8px;
  min-width: 80vw;
  background-color: #fff;
  position: fixed;
  left: 1.7vw;
  box-shadow: 0px 0px 2px 1px rgba(0, 32, 71, 0.12);
  border-radius: 10px;
  
}
}